
main {
    article.th{
        width:$w-width;
        margin:100px auto;
        h1{
            @include fs(nth($font-face,4),48px,700);
        }
        figure{
            width:100%;
            overflow: hidden;
            @include df(flex,center,flex-end){gap:10px; flex-direction: column};
            > p{
                width: 100%;
                overflow: hidden;
                video {
                    width:100%; object-fit: cover;
                    transform: scale(1.1);
                    transition: .5s;
                    animation: scales .5s ease-in-out forwards;
                }
            }
            figcaption {
                padding-right:2%;
                p {white-space: pre-line;@include fs(nth($font-face,1),18px,400);}
                span {@include fs(nth($font-face,1),12px,100);}
            }
        }
    }

    article:nth-of-type(2){
        width:$w-width;
        margin:100px auto;
        h1 {
            @include df(flex,center,flex-start){gap:10px; flex-direction: column};
            @include fs(nth($font-face,6),36px,100);
            margin-bottom:40px;
            &:after {
                content: '';
                display: block; width:100%;
                border-top:1px solid #000;
            }
        }

        div {
            @include df(flex,space-between,flex-start){gap:50px};
            div {

                &.main-left {
                    width:50%;
                    position: sticky; top:0;
                    figure{
                        width:100%;
                        video {
                            width:100%; object-fit: cover;
                            height:800px;
                        }
                    }
                }
                

                &.main-right {
                    width:calc(100% - (50% + 50px));
                    ul {
                        li {
                            border-bottom:1px solid #000;
                            padding-bottom:30px;
                            margin-bottom:30px;
                            &:last-child {border:0;}
                            a {display: block;
                                figure {
                                    @include df(flex,flex-start,flex-start){gap:40px}; 
                                    img {width:350px;}
                                    figcaption {
                                        p.m-title {
                                            margin:0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }


    > figure {
        width:100%;
        margin:100px auto;
        video {
            width:100%; object-fit: cover;
        }
        img {
            width:100%; object-fit: cover;
        }
    } 
    
    
    article:nth-of-type(3),article:nth-of-type(4){
        width:$w-width;
        margin:100px auto;
        h1 {
            @include df(flex,center,flex-start){gap:10px; flex-direction: column};
            @include fs(nth($font-face,6),36px,100);
            margin-bottom:40px;
            &:after {
                content: '';
                display: block; width:100%;
                border-top:1px solid #000;
            }
        }

        ul {
            margin-bottom:40px;
            @include df(flex,space-between,flex-start){ flex-direction: row; flex-wrap: wrap};
            li {
                width: 30%;
                margin-bottom:30px;
                figure {
                    > p {width:100%; overflow: hidden;
                        img {width:100%; transition: .5s;}    
                    }
                    figcaption{
                        p:nth-of-type(1){margin:20px 0;}
                        p:nth-of-type(2){margin:10px 0;}
                    }
                }

                &:hover {
                    img {transform: scale(1.2);}
                }
            }
        }

        >div {
            text-align: center;
            display: block;
            cursor: pointer;
            @include fs(nth($font-face,6),18px,100);

            &::before {
                content: '';
                display:block;
                width:1px; height:30px;
                margin:0px auto 10px;
                border-left:1px solid #000;
            }
        }
    }

    section.sort {
        background:#f6f6f6;
        width:100%;
        padding:60px 0;
        > div {
            width:$w-width;
            margin:0px auto;
            > p {
                @include fs(nth($font-face,6),36px,100);
                &:after {
                    content: '';
                    display: block; width:100%;
                    border-top:1px solid #000;
                    margin-top:20px;
                }
            }

            ul {
                > li {
                    padding-bottom:50px;
                    border-bottom:1px solid #000;
                    > .sd {display:none;}
                    > &:nth-of-type(1) .sd{
                        display: block;
                    }
                    > p {
                        @include fs(nth($font-face,4),42px,700);
                        cursor: pointer;
                        display: flex;
                        justify-content: space-between;
                        &::after{
                            content: 'arrow_forward_ios';
                            vertical-align: middle;
                            font-weight:100;
                            font-size:40px; font-family: 'Material Symbols Outlined';
                            transform: rotate(90deg);
                        }
                    }
                    

                    div.sd {
                        span {
                            @include fs(nth($font-face,1),18px,400);
                            margin-bottom:30px;
                            display: block;
                        }
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: row;
                            gap :5%;
                            li {
                                border:0;
                                width:30%;
                                figure {
                                    a { 
                                        display: block; height:100%; overflow:hidden;
                                        img {
                                            width:100%; object-fit: cover;
                                            transition: 1s;
                                        }

                                        &:hover img {
                                            transform: scale(1.1);
                                        }
                                    }
                                    figcaption {
                                        p.m-title {margin:30px 0 0}
                                        p.m-contents{margin:10px 0; display: block;}
                                        span.date{font-size:11px;}
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

