@mixin mp-reset {margin:0; padding:0}
@mixin fs($ff,$fs,$fe) {font-family: $ff; font-size:$fs; font-weight:$fe;}
@mixin df($display,$justify,$align) {display:$display; justify-content: $justify; align-items: $align; @content;}
@mixin wp {padding: 30px 50px;}