/* Font setting */
@font-face {
  font-family: "SamsungOneKorean-400";
  src: url("./font/SamsungOneKorean-400.woff");
}
@font-face {
  font-family: "SamsungOneKorean-700";
  src: url("./font/SamsungOneKorean-700.woff");
}
@font-face {
  font-family: "SamsungOneLatin-400";
  src: url("./font/SamsungOneLatin-400.woff");
}
@font-face {
  font-family: "SamsungSharpSans-Bold";
  src: url("./font/SamsungSharpSans-Bold.woff");
}
@font-face {
  font-family: "SamsungSharpSans-Medium";
  src: url("./font/SamsungSharpSans-Medium.woff");
}
@font-face {
  font-family: "SamsungSharpSans-Regular";
  src: url("./font/SamsungSharpSans-Regular.woff");
}
/* Site Reset */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "SamsungSharpSans-Regular";
  font-size: 16px;
  font-weight: 100;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: #eee;
}
body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 30px;
}

object {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure, article {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* Common Setting */
#popsd {
  display: none;
}

section.bg {
  display: none;
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.m-title {
  font-family: "SamsungSharpSans-Bold";
  font-size: 30px;
  font-weight: 700;
}

.m-contents {
  font-family: "SamsungOneLatin-400";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  margin: 40px 0;
}

.date {
  font-family: "SamsungOneLatin-400";
  font-size: 12px;
  font-weight: 500;
}

.mr-50 {
  margin: 90px auto !important;
}

.underline {
  cursor: pointer;
  font-size: 18px;
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0% !important;
  border-bottom: 1px solid #000;
  display: block;
  width: 100% !important;
  height: 1px;
}

article.sub-page {
  width: 1476px;
  margin: 100px auto;
}
article.sub-page h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  font-family: "SamsungSharpSans-Regular";
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 40px;
}
article.sub-page h1:after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid #000;
}
article.sub-page ul {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
article.sub-page ul li.sub {
  width: 30%;
  margin-bottom: 30px;
  cursor: pointer;
}
article.sub-page ul li.sub figure > p {
  width: 100%;
  overflow: hidden;
}
article.sub-page ul li.sub figure > p img {
  width: 100%;
  transition: 1s;
}
article.sub-page ul li.sub figure figcaption p:nth-of-type(1) {
  margin: 20px 0;
}
article.sub-page ul li.sub figure figcaption p:nth-of-type(2) {
  margin: 10px 0;
}
article.sub-page ul li.sub:hover img {
  transform: scale(1.1);
}
article.sub-page .mor {
  cursor: pointer;
  text-align: center;
  display: none;
  font-family: "SamsungSharpSans-Regular";
  font-size: 18px;
  font-weight: 100;
}
article.sub-page .mor::before {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  margin: 0px auto 10px;
  border-left: 1px solid #000;
}

header {
  padding: 30px 50px;
  position: sticky;
  top: 0;
  z-index: 3;
  background: #fff;
}
header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section > div.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
header section > div.header-left figure {
  width: 24%;
  cursor: pointer;
}
header section > div.header-left nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
header section > div.header-left nav ul li {
  cursor: pointer;
  font-size: 18px;
  position: relative;
}
header section > div.header-left nav ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  border-bottom: 1px solid #000;
  display: block;
  width: 0;
  height: 1px;
}
header section > div.header-left nav ul li:hover::after {
  left: 0;
  width: 100%;
  transition: 0.5s;
}
header section > div.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
header section > div.header-right .h-stb {
  overflow: hidden;
  height: 24px;
}
header section > div.header-right .h-stb .stb-box {
  transform: translateY(0%);
}
header section > div.header-right .h-stb .stb-box a {
  display: block;
  font-family: "SamsungSharpSans-Bold";
  font-size: 18px;
  font-weight: 500;
  animation: mov-top 10s infinite ease-in-out;
}
header section > div.header-right div.h-icon {
  display: flex;
}
header section > div.header-right div.h-icon span {
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}
header section > div.header-right div.h-icon span:nth-of-type(1)::after {
  content: "Search";
  font-size: 28px;
  font-family: "Material Symbols Outlined";
}
header section > div.header-right div.h-icon span:nth-of-type(2)::before {
  content: "Public";
  font-size: 28px;
  font-family: "Material Symbols Outlined";
  position: relative;
}
header section > div.header-right div.h-icon span > div {
  display: none;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 4;
}
header section > div.header-right div.h-icon span > div p {
  font-family: "SamsungSharpSans-Medium";
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid #000;
}
header section > div.header-right div.h-icon span:nth-of-type(2):hover > div {
  display: block;
}
header section.search-box {
  padding: 100px 0;
  top: 96px;
  left: 0;
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
header section.search-box form {
  width: 100%;
  max-width: 700px;
}
header section.search-box form div {
  position: relative;
}
header section.search-box form div input {
  width: 100%;
  outline: 0;
  padding: 0 0 20px;
  border: 0;
  border-bottom: 2px solid #000;
  font-family: "SamsungSharpSans-Medium";
  font-size: 36px;
  font-weight: 500;
}
header section.search-box form div input::-moz-placeholder {
  color: #aaa;
}
header section.search-box form div input::placeholder {
  color: #aaa;
}
header section.search-box form div label::after {
  content: "Search";
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 60px;
  font-family: "Material Symbols Outlined";
}
header section.search-box form nav {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header section.search-box form nav a {
  font-family: "SamsungSharpSans-Regular";
  font-size: 14px;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
footer section {
  display: flex;
  padding: 0 5%;
  gap: 20px;
}
footer section figure {
  overflow: hidden;
}
footer section figure a {
  display: block;
  width: 88px;
}
footer section figure a img {
  width: 100%;
  height: auto;
}
footer section div {
  display: flex;
  gap: 20px;
}
footer section div span {
  font-family: "SamsungSharpSans-Medium";
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
footer section div span::after {
  content: "";
  width: 1px;
  height: 80%;
  display: block;
  border-right: 1px solid #000;
  margin-left: 20px;
}
footer section div a {
  font-family: "SamsungSharpSans-Medium";
  font-size: 13px;
  font-weight: 600;
  display: flex;
  cursor: pointer;
}
footer section div a:nth-of-type(1)::after {
  content: "";
  width: 1px;
  height: 80%;
  display: block;
  border-right: 1px solid #000;
  margin-left: 20px;
}
footer nav ul {
  display: flex;
  flex-wrap: nowrap;
}
footer nav ul li {
  min-width: 120px;
  text-align: center;
  padding: 0 1%;
  font-family: "SamsungSharpSans-Medium";
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

main article.th {
  width: 1476px;
  margin: 100px auto;
}
main article.th h1 {
  font-family: "SamsungSharpSans-Bold";
  font-size: 48px;
  font-weight: 700;
}
main article.th figure {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  flex-direction: column;
}
main article.th figure > p {
  width: 100%;
  overflow: hidden;
}
main article.th figure > p video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1);
  transition: 0.5s;
  animation: scales 0.5s ease-in-out forwards;
}
main article.th figure figcaption {
  padding-right: 2%;
}
main article.th figure figcaption p {
  white-space: pre-line;
  font-family: "SamsungOneKorean-400";
  font-size: 18px;
  font-weight: 400;
}
main article.th figure figcaption span {
  font-family: "SamsungOneKorean-400";
  font-size: 12px;
  font-weight: 100;
}
main article:nth-of-type(2) {
  width: 1476px;
  margin: 100px auto;
}
main article:nth-of-type(2) h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  font-family: "SamsungSharpSans-Regular";
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 40px;
}
main article:nth-of-type(2) h1:after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid #000;
}
main article:nth-of-type(2) div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
main article:nth-of-type(2) div div.main-left {
  width: 50%;
  position: sticky;
  top: 0;
}
main article:nth-of-type(2) div div.main-left figure {
  width: 100%;
}
main article:nth-of-type(2) div div.main-left figure video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 800px;
}
main article:nth-of-type(2) div div.main-right {
  width: calc(100% - (50% + 50px));
}
main article:nth-of-type(2) div div.main-right ul li {
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
main article:nth-of-type(2) div div.main-right ul li:last-child {
  border: 0;
}
main article:nth-of-type(2) div div.main-right ul li a {
  display: block;
}
main article:nth-of-type(2) div div.main-right ul li a figure {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
main article:nth-of-type(2) div div.main-right ul li a figure img {
  width: 350px;
}
main article:nth-of-type(2) div div.main-right ul li a figure figcaption p.m-title {
  margin: 0;
}
main > figure {
  width: 100%;
  margin: 100px auto;
}
main > figure video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main > figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main article:nth-of-type(3), main article:nth-of-type(4) {
  width: 1476px;
  margin: 100px auto;
}
main article:nth-of-type(3) h1, main article:nth-of-type(4) h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  font-family: "SamsungSharpSans-Regular";
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 40px;
}
main article:nth-of-type(3) h1:after, main article:nth-of-type(4) h1:after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid #000;
}
main article:nth-of-type(3) ul, main article:nth-of-type(4) ul {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
main article:nth-of-type(3) ul li, main article:nth-of-type(4) ul li {
  width: 30%;
  margin-bottom: 30px;
}
main article:nth-of-type(3) ul li figure > p, main article:nth-of-type(4) ul li figure > p {
  width: 100%;
  overflow: hidden;
}
main article:nth-of-type(3) ul li figure > p img, main article:nth-of-type(4) ul li figure > p img {
  width: 100%;
  transition: 0.5s;
}
main article:nth-of-type(3) ul li figure figcaption p:nth-of-type(1), main article:nth-of-type(4) ul li figure figcaption p:nth-of-type(1) {
  margin: 20px 0;
}
main article:nth-of-type(3) ul li figure figcaption p:nth-of-type(2), main article:nth-of-type(4) ul li figure figcaption p:nth-of-type(2) {
  margin: 10px 0;
}
main article:nth-of-type(3) ul li:hover img, main article:nth-of-type(4) ul li:hover img {
  transform: scale(1.2);
}
main article:nth-of-type(3) > div, main article:nth-of-type(4) > div {
  text-align: center;
  display: block;
  cursor: pointer;
  font-family: "SamsungSharpSans-Regular";
  font-size: 18px;
  font-weight: 100;
}
main article:nth-of-type(3) > div::before, main article:nth-of-type(4) > div::before {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  margin: 0px auto 10px;
  border-left: 1px solid #000;
}
main section.sort {
  background: #f6f6f6;
  width: 100%;
  padding: 60px 0;
}
main section.sort > div {
  width: 1476px;
  margin: 0px auto;
}
main section.sort > div > p {
  font-family: "SamsungSharpSans-Regular";
  font-size: 36px;
  font-weight: 100;
}
main section.sort > div > p:after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid #000;
  margin-top: 20px;
}
main section.sort > div ul > li {
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}
main section.sort > div ul > li > .sd {
  display: none;
}
main section.sort > div ul > li:nth-of-type(1) .sd {
  display: block;
}
main section.sort > div ul > li > p {
  font-family: "SamsungSharpSans-Bold";
  font-size: 42px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
main section.sort > div ul > li > p::after {
  content: "arrow_forward_ios";
  vertical-align: middle;
  font-weight: 100;
  font-size: 40px;
  font-family: "Material Symbols Outlined";
  transform: rotate(90deg);
}
main section.sort > div ul > li div.sd span {
  font-family: "SamsungOneKorean-400";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  display: block;
}
main section.sort > div ul > li div.sd ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5%;
}
main section.sort > div ul > li div.sd ul li {
  border: 0;
  width: 30%;
}
main section.sort > div ul > li div.sd ul li figure a {
  display: block;
  height: 100%;
  overflow: hidden;
}
main section.sort > div ul > li div.sd ul li figure a img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
}
main section.sort > div ul > li div.sd ul li figure a:hover img {
  transform: scale(1.1);
}
main section.sort > div ul > li div.sd ul li figure figcaption p.m-title {
  margin: 30px 0 0;
}
main section.sort > div ul > li div.sd ul li figure figcaption p.m-contents {
  margin: 10px 0;
  display: block;
}
main section.sort > div ul > li div.sd ul li figure figcaption span.date {
  font-size: 11px;
}

@media (max-width: 1580px) {
  main article.th, main article:nth-of-type(2), main article:nth-of-type(3), main article:nth-of-type(4), main article.sub-page {
    width: 80%;
  }
  main section.sort > div {
    width: 80%;
  }
}
@media (max-width: 1479px) {
  main article:nth-of-type(2) div div.main-right ul li a figure {
    flex-wrap: wrap;
    flex-direction: column;
  }
  main article:nth-of-type(2) div div.main-right ul li a figure img {
    width: 100%;
  }
}
@media (max-width: 1213px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  footer section {
    order: 2;
  }
}
@media (max-width: 1145px) {
  header {
    padding: 30px 20px;
  }
  header section > div.header-left {
    gap: 10px;
  }
  header section > div.header-left nav ul li {
    font-size: 0.8rem;
  }
  header section > div.header-right {
    gap: 0;
  }
  header section > div.header-right .h-stb .stb-box a {
    font-size: 0.8rem;
    line-height: 2.1;
  }
  header section > div.header-right .h-stb .stb-box a:nth-of-type(1) {
    line-height: 2;
  }
  main article.sub-page ul li.sub {
    width: 45%;
  }
}
@media (max-width: 797px) {
  main article.sub-page ul li.sub {
    width: 95%;
  }
  main article:nth-of-type(2) div {
    flex-direction: column;
  }
  main article:nth-of-type(2) div div.main-left {
    position: static;
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
  }
  main article:nth-of-type(2) div div.main-left figure video {
    height: 300px;
  }
  main article:nth-of-type(2) div div.main-right {
    width: 100%;
  }
  main article:nth-of-type(2) div div.main-right ul li {
    width: 100%;
  }
  main article:nth-of-type(3) ul li {
    width: 100%;
  }
  main article:nth-of-type(4) ul li {
    width: 100%;
  }
  main section.sort > div ul > li > p {
    font-size: 30px;
  }
  main section.sort > div ul > li div.sd ul li {
    width: 100%;
  }
}
section.pop_box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
section.pop_box div {
  width: 80%;
  height: 80%;
  margin: 0px auto;
  background: #fff;
  overflow-y: auto;
}
section.pop_box div::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}
section.pop_box div::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 30px;
}
section.pop_box div section {
  text-align: left;
  padding: 50px 0 0;
}
section.pop_box div section p {
  width: 30%;
  margin: 0px auto;
}
section.pop_box div section p.pop_date {
  font-family: "SamsungOneKorean-400";
  font-size: 16px;
  font-weight: 100;
}
section.pop_box div section p.pop_date::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px auto 30px;
  border-bottom: 1px solid #000;
}
section.pop_box div section p.pop_title {
  white-space: pre-line;
  font-family: "SamsungSharpSans-Bold";
  font-size: 64px;
  font-weight: 700;
}
section.pop_box div section p.pop_subtitle {
  line-height: 2;
  font-family: "SamsungOneKorean-400";
  font-size: 21px;
  font-weight: 100;
}
section.pop_box div section > figure.pop-images-1 img {
  transform: scale(0.4);
}
section.pop_box div section p.pop_content {
  width: 28%;
  line-height: 1.3;
  font-family: "SamsungOneKorean-400";
  font-size: 24px;
  font-weight: 100;
}
section.pop_box div section figure.pop_images3 {
  position: relative;
  height: 850px;
}
section.pop_box div section figure.pop_images3 img {
  position: absolute;
  width: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.5s;
  opacity: 0;
}
section.pop_box div section figure.pop_images3 img:nth-of-type(1) {
  animation: pop_images3 2s forwards ease-in-out;
}
section.pop_box div section figure.pop_images3 img:nth-of-type(2) {
  animation: pop_images32 2s forwards ease-in-out;
}
section.pop_box div section figure.pop_images3 img:nth-of-type(3) {
  left: 130px;
  animation: pop_images33 2s forwards ease-in-out;
}
section.pop_box div section article h1 {
  text-align: center;
  font-family: "SamsungSharpSans-Bold";
  font-size: 70px;
  font-weight: 700;
}
section.pop_box div section article figure {
  width: 60%;
  margin: 30px auto;
}
section.pop_box div section article figure video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
section.pop_box div section article figure figcaption {
  width: 100%;
  display: flex;
}
section.pop_box div section article figure figcaption p {
  width: 45%;
  font-family: "SamsungOneKorean-400";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 60px;
}
section.pop_box div section article figure figcaption p span {
  font-family: "SamsungSharpSans-Bold";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
section.pop_box div section figure.he {
  width: 100%;
  height: 520px;
  overflow: hidden;
  display: flex;
}
section.pop_box div section figure.he video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.pop_box div section div.sns {
  width: 30%;
  border-top: 2px solid #000;
  padding: 40px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}
section.pop_box div section div.sns span i {
  font-size: 25px;
}
section.pop_box > span {
  width: 1400px;
  position: relative;
  cursor: pointer;
}
section.pop_box > span::after {
  content: "Close";
  font-weight: 700;
  color: #000;
  position: absolute;
  top: -60px;
  right: 0;
  font-size: 60px;
  font-family: "Material Symbols Outlined";
}

.email {
  width: 80% !important;
  padding: 5% 10% 0;
  overflow: hidden;
}
.email article {
  width: 100%;
}
.email article h1 {
  font-family: "SamsungOneKorean-400";
  font-size: 32px;
  font-weight: 500;
}
.email article > p {
  font-family: "SamsungOneKorean-400";
  font-size: 16px;
  font-weight: 500;
}
.email article .border-box {
  width: 80%;
  border: 1px solid #000;
  padding: 10px 10%;
  margin: 50px auto;
}
.email article .border-box p {
  font-family: "SamsungOneKorean-400";
  font-size: 16px;
  font-weight: 500;
}
.email article .border-box p:nth-of-type(1) {
  text-align: center;
  font-family: "SamsungOneKorean-700";
  font-size: 16px;
  font-weight: 500;
}
.email article .footer {
  margin: 40px auto;
}
.email article .footer figure {
  display: flex;
}
.email article .footer figure span {
  margin-left: 2%;
  width: 100%;
  display: block;
}

.pro {
  width: 80% !important;
  padding: 5% 10% 0;
  overflow: hidden;
  background: #f8f8f8 !important;
}
.pro article {
  width: 100%;
}
.pro article h1 {
  font-family: "SamsungOneKorean-400";
  font-size: 37px;
  font-weight: 500;
}
.pro article p {
  font-family: "SamsungOneKorean-400";
  font-size: 14px;
  font-weight: 400;
}
.pro article p.p-title {
  font-family: "SamsungOneKorean-400";
  font-size: 24px;
  font-weight: 400;
  margin: 40px 0 10px;
}

@keyframes mov-top {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-200%);
  }
  40% {
    transform: translateY(-200%);
  }
  45% {
    transform: translateY(-300%);
  }
  60% {
    transform: translateY(-300%);
  }
  65% {
    transform: translateY(-400%);
  }
  80% {
    transform: translateY(-400%);
  }
  85% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(-500%);
  }
}
@keyframes pop_images3 {
  100% {
    transform: translateY(5%);
    opacity: 1;
  }
}
@keyframes pop_images32 {
  100% {
    transform: translateY(-5%);
    opacity: 1;
  }
}
@keyframes pop_images33 {
  100% {
    transform: translateX(-5%);
    opacity: 1;
  }
}
@keyframes scales {
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=index.css.map */